{% extends 'base.html.twig' %}
{% block body %}

    <h1>Delete Product</h1>

    <p>Are you Sure?</p>

    <form  method="post">

        <button>Ja</button>
        <a href="{{ path('product_show', {'id': id}) }}">No</a>
    </form>
{% endblock %}
